.woocommerce-checkout{
   .entry-header{
    @media screen and (max-width: 1023px) {
        border-bottom: 1px solid #000;
    }
        h1{
            font-size: 90px;
            font-weight: 900;
            padding: 0 30px;
            @media screen and (max-width: 1023px) {
                font-size: 45px;
                padding: 0 20px;
            }
        }
    }
    .entry-content{
        margin-top: 0;
        @media screen and (max-width: 1023px) {
            padding: 10px 15px 20px;
        }
        .woocommerce-form-coupon-toggle{
            .woocommerce-info{
                margin-bottom: 0;
            }
        }
        form{
            .checkout_summary_wrap{
                display: flex;
                border-top: 1px solid #000;
                @media screen and (max-width: 1023px) {
                    display: block;
                    border-top: 0;
                }
            }
            
            
            #customer_details.col2-set{
                flex-basis: 62.5%;
                max-width: 62.5%;
                padding: 60px 40px 80px;
                border-left: 1px solid #000;
                @media screen and (max-width: 1023px) {
                    border-left: 0;
                    max-width: none;
                    width: 100%;
                    padding: 0;
                }
                .woocommerce-billing-fields{
                    h3{
                        font-size: 50px;
                        font-weight: 900;
                        @media screen and (max-width: 1023px) {
                            font-size: 35px;
                        }
                    }
                    .form-row#billing_address_1_field,.form-row#billing_city_field{
                        input{
                            text-align: right;
                            padding: 14px 20px 14px 20px;
                        }
                    }

                }
                .woocommerce_checkout_shipping{
                    margin-top: 50px;
                    h3#ship-to-different-address{
                        font-size: 20px;
                        font-weight: 900;
                    }
                    #gift_wrap_field .optional,#greeting_card_field .optional{
                        display: none;
                    }
                }
            }
            #order_review{
                flex-basis: 37.5%;
                max-width: 37.5%;
                padding: 60px 40px 80px;
                @media screen and (max-width: 1023px) {
                    max-width: none;
                    width: 100%;
                    padding: 0px;
                }
                h3#order_review_heading{
                    font-size: 50px;
                    font-weight: 900;
                    @media screen and (max-width: 1023px) {
                        font-size: 35px;
                        border-top: 1px solid;
                        padding-top: 20px;
                        margin-top: 20px;
                    }
                }
                table.shop_table{
                    border: 0;
                    border-bottom: 1px solid #d3ced2;
                    border-radius: 0;
                    font-size: 18px;
                    @media screen and (max-width: 1023px) {
                        font-size: 16px;
                        
                    }
                    td{
                        @media screen and (max-width: 1023px) {
                            padding: 9px 0px 9px 5px;
                            vertical-align: top;
                        }
                        //border:0;
                        ul#shipping_method{
                            li{
                                input{
                                    vertical-align: middle;
                                    margin-top: 0;
                                    
                                }
                                select#storelist{
                                    margin: 20px 0;
                                    padding: 10px;
                                }
                            }
                        }
                    }
                    th{
                        //border:0;
                        width: 60%;
                        vertical-align: top;
                        padding: 9px 0 5px;
                    }
                    .cart-subtotal{
                        th{
                            padding: 9px 0 5px;
                        }

                    }
                    .order-total{
                        font-size: 40px;
                        font-weight: 900;
                        @media screen and (max-width: 1023px) {
                            font-size: 25px;
                        }
                        th{
                            font-weight: 900;
                        }
                    }
                }
                .checkout_coupon.woocommerce-form-coupon{
                    //display: block!important;
                }
                .display_coupon_btn{
                    font-size: 20px;
                    padding: 15px;
                    margin-bottom: 20px;
                    border: 1px solid rgb(211, 206, 210);
                    display: none;
                    text-align: right;
                    width: 100%;
                }
                .coupon{
                    display: none;
                    align-items: center;
                    .form-row-first{
                        padding: 12px;
                        input#coupon_code{
                            height: 56px;
                            box-shadow: 0 0 0 1px #cac3bd inset;
                            border-radius: 0;
                            transition: box-shadow 200ms cubic-bezier(.455,.03,.515,.955),-webkit-box-shadow 200ms cubic-bezier(.455,.03,.515,.955);
                            border: 0;
                            appearance: none;
                            width: 100%;
                            padding: 14px 40px 14px 20px;
                            &:hover{
                                box-shadow: 0 0 0 2px #000 inset;
                            }
                        }
                        .error_msg_coupon_empty{
                            color: #ce2325;
                            font-style: italic;
                            font-size: 16px;
                            background-color: #fdf4f4;
                            padding: 0 10px;
                            display: none;
                        }
                    }

                }
                #payment{
                    font-size: 18px;
                    background: #fff;
                    h3.checkout_payment_type{
                        font-size: 30px;
                        font-weight: 900;
                        padding: 0px 15px;
                        @media screen and (max-width: 1023px) {
                            font-size: 25px;
                            font-weight: 900;
                            padding: 0px 0px;
                        }
                    }
                    .place-order{
                        @media screen and (max-width: 1023px) {
                            padding: 0px 0px;
                            font-size: 16px;
                            .woocommerce-terms-and-conditions-wrapper{
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .wc_payment_methods{
                        @media screen and (max-width: 1023px) {
                            padding-left: 0;
                            padding-right: 0;
                        }

                    }
                }
            }
        }
    }
    .woocommerce-shipping-fields{
        #shipping_tiles{
            a{
                @include button_underline;
                font-size: 20px;
                margin-top: 20px;
                display: inline-block;
            }
        }
    }


}
.btn-continue.address-wrapper > a.th-btn.button, .btn-continue.address-wrapper > a.th-btn.button:hover {
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}