nav.breadcrumb{
    .arrow_btn{
        position: relative;
        .button-secondary{
            padding:4px 8px;
            position: static;
            .btn_icon{
                transform: translateX(0px);
                margin-right:0;
                margin-left:5px;
                svg{
                    transform: rotate(0deg);
                }
            }
            .button_label{
                position: absolute;
                right: 45px;
            }
            &:hover{
                .btn_icon{
                    transform: translateX(10px);
                }
            }
        } 
    } 
}


.module_30_70{
    .top_header{
        display: flex;
        background-color: #fff;
        color: #000;
        @media screen and (max-width: 1023px) {
            flex-direction: column-reverse;
        }
        &.two_third_width{
            .r_side{
                flex-basis: 33.333333%;
                max-width: 33.333333%;
                @media screen and (max-width: 1023px) {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
            .l_side{
                flex-basis: 66.66667%;
                max-width: 66.66667%;
                @media screen and (max-width: 1023px) {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
        }
        // &.half_width{
        //     .r_side{
        //         flex-basis: 50%;
        //         max-width: 50%;
        //     }
        //     .l_side{
        //         flex-basis: 50%;
        //         max-width: 50%;
        //     }
        // }
        &.third_width{
            .r_side{
                flex-basis: 33.333333%;
                max-width: 33.333333%;
            }
            .l_side{
                flex-basis: 33.333333%;
                max-width: 33.333333%;
            }
        }
        .r_side{
            padding: 20px;
            @media screen and (max-width: 1023px) {
                padding: 10px;
            }
            h1{
                font-size: 90px;
                font-weight: 900;
                @media screen and (max-width: 1366px) {
                    font-size: 80px;
                }
                @media screen and (max-width: 1023px) {
                    font-size: 50px;
                    line-height: 1;
                }
            }
            .tabs_cat_wrap{
                margin: 40px 0 20px;
                @media screen and (max-width: 1023px) {
                    margin: 0;
                    margin-bottom: -10px;
                }
                .rounded_btn{
                    @include rounded_button;
                    @media screen and (max-width: 1023px) {
                        display: flex;
                        overflow-x: hidden;
                        //width: calc(100vw - 20px);
                    }
                    .btn_holder{
                        @media screen and (max-width: 1023px) {
                            display: flex;
                            //margin: auto;
                            align-items: center;
                            justify-content: flex-start;
                            flex-wrap: nowrap;
                            padding: 0px 0px;
                            overflow-x: auto;
                            width: auto;
                        }
                        a{
                            background-color: #fff;
                            color: #000;
                            border: 1px solid;
                            @media screen and (max-width: 1366px) {
                                padding: 8px 10px;
                            }
                            @media screen and (max-width: 1023px) {
                                padding: 1px 10px;
                                display: flex;
                                justify-content: center;
                                flex-wrap: nowrap;
                                overflow-x: visible;
                                width: auto;
                            }
                            &.all_filter{
                                background-color: #000;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .l_side{
            .img_wrapper{
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
        }
    }
}

.load_more_pdts_wrapper{
    display: block;
    & > *{
        display: block;
        margin: auto;
        text-align: center;
    }
    p{
        margin-bottom: 16px;
    }
}

#back_to_top{
    margin: 40px auto 60px;
    text-align: center;
    display: block;
}
.section_seo_wrapper{
    padding: 100px 0;
    header{
        border-top: 1px solid #000;
    }
    .seo_desc{
        max-width: 41.66667%;
        padding: 60px 20px 20px;
        font-size: 18px;
        line-height: 1.6;
    }
}
.section_related_cat{
    padding-top: 60px;
    border-top: 1px solid #000;
    .cat_wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        a.related_cat_link{
            flex-basis: 33.33333%;
            max-width: 33.33333%;
            padding: 0 20px 10px;
            font-size: 50px;
            font-weight: 900;
            color: #000;
        }
    }
}